.form-polja {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.polje-zunaj {
    width:  48%;
}

input,
select {
    height: 1.75rem;
    border: 1px solid rgb(238, 143, 1);
    width: 100%;
    border-radius: 4px;
    appearance: none;
}

input:focus,
select:focus {
    outline: 0;
}

select {
    background: #fff url("data:image/svg+xml;charset=UTF-8,%3csvg width='8px' height='14px' viewBox='0 0 8 17' xmlns='http://www.w3.org/2000/svg' fill='%238A8A8A'%3e%3cpolygon fill='%238A8A8A' points='4 17 0 10 8 10'%3e%3c/polygon%3e%3cpolygon fill='%238A8A8A' points='4 0 0 7 8 7'%3e%3c/polygon%3e%3c/svg%3e") 94% center no-repeat;
}

.polje-items {
    display: flex;
}

.polje {
    width: 30%;
}

.polje + .polje {
    margin-left: 3px;
}

.polje-large {
    width: 60%;
}

.polje-small {
    width: 10%;
}

.pripis {
    font-weight: bold;
    font-size: 15px;
}

.btn {
    position: relative;
    background: rgb(238, 143, 1);
    width: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 110px;
    height: 50px;
    color: #fff;
    font-size: 20px;
}

.btn:hover, .btn:focus {
    background: rgb(238, 143, 1);
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.1);
    outline: 0;
}

::placeholder {
    color: #999;
}
