<body style="background-image: none;">
    <br>
    <form id="form" class="center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="d-flex justify-content-center">Registracija</h2>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <label class="d-flex justify-content-center" style="font-size: 12px" for="fname"><b>Ime</b></label>
                    </div>
                    <div style="text-align:center" class="col-md-12">
                        <input [(ngModel)]="registracijaUporabnika.ime" name="ime" id="fname" class="inputOkna" placeholder="Vnesi ime" required>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <label class="d-flex justify-content-center" style="font-size: 12px" for="lname"><b>Priimek</b></label>
                    </div>
                    <div style="text-align:center" class="col-md-12">
                        <input [(ngModel)]="registracijaUporabnika.priimek" name="priimek" id="lname" class="inputOkna" placeholder="Vnesi priimek" required>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <label class="d-flex justify-content-center" style="font-size: 12px" for="email"><b>E-mail</b></label>
                    </div>
                    <div style="text-align:center" class="col-md-12">
                        <input [(ngModel)]="registracijaUporabnika.email" name="email" id="email" class="inputOkna" placeholder="Vnesi e-mail" required>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                            <label class="d-flex justify-content-center" style="font-size: 12px" for="psw"><b>Geslo</b></label>
                    </div>
                    <div style="text-align:center" class="col-md-12">
                        <input [(ngModel)]="registracijaUporabnika.geslo" name="geslo" type="password" id="psw" class="inputOkna" placeholder="Vnesi geslo" required>
                    </div>
                </div>
                <br>
            </div>

            <br>
            
            <div style="text-align:center;" class="row">
                <div class="col-md-12">
                    <label style="color: black; font-size: 12px" for="pogoji">
                        Prebral sem pogoje uporabe in se z njimi strinjam.
                    </label>
                    <input type="checkbox" id="pogoji" name="pogoji" value="pogoji">
                </div>
                <div class="col-md-12">
                    <label style="color: black; font-size: 12px" for="akcija">
                        Strinjam se, da me obveščate o aktualni ponudbi
                        in akcijah.
                    </label>
                    <input type="checkbox" id="akcija" name="akcija" value="Obvescanje">
                </div>
            </div>

            <br>

            <div *ngIf="sporocilo" class="alert alert-danger" role="alert" >
                {{sporocilo}}
            </div>

            <br>

            <div style="text-align:center" class="center">
                <button (click)="registrirajUporabnika()" [disabled]="!jePovezava()" class="button">Registracija</button>
            </div>
    </form>
</body>