
.zacetna_stran{
  background-color: orange;
  font-weight: 600;
}

#pomik_tabele{
  transition: 0.4s;
}

.tabela{
  position: absolute;
  left: 25%;
  width: auto;
}
.horizontal {
    position: absolute;
    width: 50px;
    background-size: cover;
    width: 500px;
    height: 200px;
    left: -400px;
    top: 800px;
    font-weight: bold;
}
.slika{
    top: 800px;
    left: 70%;
    width: 300px;
    height: 300px;
    padding: 1px;
    border: 1px solid #ddd;
    border-radius: 4px;
    position: absolute;
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all 5s;
    margin: 0 auto;
}

.slika.visible {
    opacity: 1;
    transform: translate(0, 0);
    }

.horizontal2 {
    position: absolute;
    width: 50px;
    background-size: cover;
    width: 500px;
    height: 200px;
    left: -400px;
    top: 2000px;
    font-weight: bold;
}
.zoom {
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: transform .2s; /* Animation */
    width: 250px;
    height: 250px;
    margin: 0 auto;
}
.zoom:hover {
    transform: scale(1.2); 
  }

  

  .iskanje {
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2f3640;
    height: 35px;
    border-radius: 20px;
    padding: 10px;
   }
   
   .iskanje:hover > .iskanje-txt {
    width: 240px;
    padding: 0 6px;
   }
   
   .iskanje:hover > .iskanje-btn {
    background: white;
    color: black;
   }
   
   .iskanje-btn {
      top: 20px;
      color: #e84118;
      float: right;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #2f3640;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.4s;
      color: white;
      cursor: pointer;

   }
   
   .iskanje-btn > i {
    font-size: 15px;
   }
   
   .iskanje-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 13px;
    transition: 0.4s;
    line-height: 20px;
    width: 0px;
    font-weight: bold;
   }
#mapa_id{
  position: relative;
  height: 500px;
  width: 90%;
  border-radius: 5px;
  margin: 30px;
  border:outset orange;
  -webkit-box-shadow: 0px 2px 97px -2px rgba(0,0,0,0.77);
  -moz-box-shadow: 0px 2px 97px -2px rgba(0,0,0,0.77);
  box-shadow: 0px 2px 97px -2px rgba(0,0,0,0.77);
}

.login_okvir{
  background-color: white;
  border-radius: 7px;
  padding: 15px;
  display:none; 
  border: 3px solid goldenrod;
  animation: fadein ease 5s;
}
@keyframes fadein{
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.vprasanje{
  animation: fadein ease 5s; 
}
.vprasanje.visible{
  animation: fadein ease 5s; 
}

.login_popup{
  display: none;
  position: absolute;
  background-color: black;
  margin: 10px;
  padding: 15px;
  height: 80px;
  z-index: 1;
  animation: fadein ease 5s;
}
.login_popup a {
  text-decoration:none;
  color: white;
}
.login_popup a:hover{
  color:white;
}
.napacno_vneseni_podatki{
  display: none;
  animation: fadein ease 1s;
  margin: 10px;
  padding: 5px;
}
.prijavnica{
  position: absolute;
  top: 3000px; 
  left: 40%;
}
@media only screen and (max-width: 600px){
  .horizontal,.horizontal2{
    left: 5%;
    width: 80%;
  }
  .slika{
    display: none;
    width: 0px;
    height: 0px;;
  }
  .tabela{
  display: none;  
  }
  .prijavnica{
    position: absolute;
    left:10%;
  }
}
