<script>document.body.style.height = "3700px"
</script>
<div id="pomik_tabele">
                <br>
                <table class="table table-hover tabela">
                    <tr>
                        <td><a href="/izdelki"><img src="img/Gold_Whey_CHOCOLATE_1000_r.jpg" class="zoom"></a></td>
                        <td><a href="/izdelki"><img src="img/vegan-choco_r.jpg" class="zoom"></a></td>
                        <td><a href="/izdelki"><img src="img/bcaa.jpg" class="zoom" alt="bcaa's"></a></td>
                    </tr>
                    <tr>
                        <td colspan="2"><a href="/izdelki"><img src="img/men_clothes.jpg" class="zoom" style="width: 500px;"></a></td>
                        <td><a href="/izdelki"><img src="img/women_closthes.jpeg" class="zoom"></a></td>
                    </tr>
                </table>
            </div>
            <div class="horizontal">
                <h1 style="color: orange;border: 1px; border-color: grey;">{{opis_aplikacije.tekst1_naslov}}</h1><p><strong>{{opis_aplikacije.tekst1}}</strong></p>
            </div>
            <img src="img/protein_shake1.jpg" class="slika"></img>

            <br>
            <div class="horizontal2">
                <h1 style="color: orange;border: 1px; border-color: grey;">{{opis_aplikacije.tekst2_naslov}}</h1><p><strong>{{opis_aplikacije.tekst2}}</strong></p>
            </div>
            <img src="img/happy.jpg" class="slika" style="top:2000px"></img>
            
             <div class="prijavnica">
                <div class="vprasanje"><h2 style="color: brown;">Ste že naš član?                            <a href="/prijava" class="btn btn-success" onclick="prikaziLog()" value="Seveda">Seveda</a>                   <a href="/registracija" class="btn btn-danger">Ne še</a>               </a>
                    </h2>
                </div>
                <br>
                <!--<div id="reg" class="login_okvir"><h3>Postanite naš član!!</h3>
                    <form action="" id="register">
                        <div class="form-group">
                            <label>Ime</label><div class="napacno_vneseni_podatki alert alert-danger" id="error_name">Nepravilno vnešeno ime!</div>
                            <input class="form-control form-control-sm" type="text" name="ime" placeholder="Ime">
                        </div>
                        <div class="form-group">
                            <label>Priimek</label><div class="napacno_vneseni_podatki alert alert-danger" id="error_lname">Nepravilno vnešen priimek!</div>
                            <input class="form-control  form-control-sm" type="text" name="priimek" placeholder="Priimek">
                        </div>
                        <div class="form-group">
                            <label>Email</label><div class="napacno_vneseni_podatki alert alert-danger" id="error_email">Nepravilno vnešen email!</div>
                            <input class="form-control form-control-sm" type="email" name="email" placeholder="nekdo@domena">
                        </div>
                        <div class="form-group">
                            <label>Geslo</label><div class="napacno_vneseni_podatki alert alert-danger" id="error_pass">Nepravilno vnešeno geslo!</div>
                            <input class="form-control form-control-sm" type="password" name="geslo" placeholder="Geslo">
                        </div>
                        <div class="form-group">
                            <label>Ponovite geslo</label><div class="napacno_vneseni_podatki alert alert-danger" id="error_pass_rep">Gesla se ne ujemata!</div>
                            <input class="form-control form-control-sm" type="password" name="ponovitev_gesla" placeholder="Geslo">
                        </div>
                        <br>
                            <p>
                                <input type="submit" class="btn btn-dark btn-sm" value="Registracija">
                                <input type="reset" class="btn btn-outline-dark btn-sm" value="Zbriši podatke">
                            </p>
                    </form>
                </div>

                <div id="log" class="login_okvir"><h3>Kaj še čakate, prijavite se!!</h3>
                    <form action="">
                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-control form-control-sm" type="email" placeholder="Uporabniško ime">
                    </div>
                    <div class="form-group">
                        <label>Geslo</label>
                        <input class="form-control  form-control-sm" type="password" placeholder="password">
                    </div>
                    <br>
                        <p>
                            <input type="submit" class="btn btn-dark btn-sm" value="Prijava">
                        </p>
                        </form>
                </div>-->
            </div>