<body  style="background-image: none;">
    <div style="text-align:center" class="center">
        <h1>{{title}}</h1>
        <hr>
        <p>{{p.ena}}</p>
        <br>
        <p>{{p.dva}}</p>
        <br>
        <p style="font-weight: bold"> {{p.tri}}</p>
    </div>
    <hr>
    <div style="text-align:center" class="center">
        <a href="/">
            <button class="button">Domov</button>
        </a>
    </div>
    


</body>